<div class="col-xs-12">
  <h1>Test</h1>

  <div class="nop col-xs-3">
    <label>Start time: </label>
    <input type="text" name="" ng-model="form.start_date">
    <code class="code">{{form.start_date | date:"dd/MM/yyyy"}}</code>
  </div>

  <div class="nop col-xs-5">
    <div class="nop col-xs-2">
      <button class="btn btn-primary btn-sm" ng-click="form.start_date = time.subDay(form.start_date)">
        <-D</button>
          <button class="btn btn-primary btn-sm" ng-click="form.start_date = time.addDay(form.start_date)">D-></button>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-primary btn-sm" ng-click="form.start_date = time.subMonth(form.start_date)">
        <-M</button>
          <button class="btn btn-primary btn-sm" ng-click="form.start_date = time.addMonth(form.start_date)">M-></button>
    </div>
    <div class="nop col-xs-2">
      <button class="btn btn-primary btn-sm" ng-click="form.start_date = time.subYear(form.start_date)">
        <-Y</button>
          <button class="btn btn-primary btn-sm" ng-click="form.start_date = time.addYear(form.start_date)">Y-></button>
    </div>
  </div>

  <div class="col-xs-5 sec nop">
    <div class="alert alert-info" role="alert">
      Loaded items: {{dataSet.length || 0}}
    </div>
  </div>

  <div class="col-xs-12 nop">
    <select ng-options="value for value in coinList" ng-model="form.crypto"></select>
  </div>

  <div class="col-xs-12 nop sec">
    <button class="btn btn-danger" ng-click="getDataPolo()">Get Data Polo</button>
    <button class="btn btn-success" ng-click="getDataCrypto()">Get Data Crypto</button>
    <button class="btn btn-info" ng-click="traverseAllModels()">Analyze</button>
    <button class="btn btn-info" ng-click="traverseAllModelsAndCoins()">Analyze All</button>
  </div>

  <div class="col-xs-12 nop sec">
    <button class="btn btn-danger" ng-click="resetStorage()">Reset Storage</button>
  </div>

  <div class="col-xs-12 nop sec">
    <h5>Starting investment: ${{getInvestment()}}</h5>
    <div class="col-xs-6 nop" ng-repeat="(key, val) in analysis">
      <h4><u>{{key}}</u></h4>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="strategy in val">Earnings: <code>${{strategy.funds | comma}}</code> (BUY ON RETURN: <code>{{strategy.ret}}x</code>, SELL ON RETRACEMENT: <code>{{strategy.reb}}x</code>)</li>
      </ul>
    </div>
  </div>

</div>
